<!DOCTYPE html>
<html lang="en">

<head>
  <%- include common/head.ejs %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!--<%- include common/preloader.ejs %>-->

    <%- include common/navbar.ejs %>

    <%- include common/left.ejs %>

    <%- include common/indexContent.ejs %>

    <%- include common/footer.ejs %>

    <%- include common/right.ejs %>
    
  </div>
  <!-- ./wrapper -->

  <%- include common/addjs %>
</body>

</html>